nav {
  height: 80px;
  line-height: 80px;
  background: white;
}

.list_inline {
  list-style: none;
  display: inline-block;
}

.list_inline li {
  display: inline-block;
  padding: 0 5px;

}

.list_inline li a {
  text-decoration: none;
  color: #031C4E;
  font-size: 16px;
}

.fas.fa-chevron-down {
  margin-left:5px;
  color: #031C4E;
}

.fas.fa-bars {
  font-size: 24px;
  color: #016DFF;
}

#signup {
  color: #016DFF;
  padding: 8px 8px;
  border:1px solid #016DFF;
  border-radius: 5px;
}

.header_bottom{
  background-image: url("https://prismic-io.s3.amazonaws.com/www-static/5315ae46-6bc4-49fe-aa85-a434f9066bd4_bg-home-3.svg");
  padding:30px 0px ;
}

h1 {
  font-size: 62px;
  font-weight: bold;
  color : white;
}

.sub_title {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
}

.signup_form {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  background: white;
  text-align: center;
  padding: 30px;
  border-radius: 20px;
}

#exampleInputName2{
  width: 100%;
}

#inputEmail3{
  width: 100%;
}

.btn.btn-primary{
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#signup_google_form{
  margin-top: 10px;
  background: white;
  color: #626262;
  border: none;
  border: 1px solid #626262;
}

.fab.fa-google {
  text-align: left;
}

.box_1 {
  padding-top: 60px;
  background: #F3F5F9;
  text-align: center;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 50px;
}

.logo_img {
  display: inline-block;
}

.logo_img img {
  width: 100%
}

.link_center {
  margin-bottom: 90px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #3487FE
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color:#031C4E;
}

.box_2 {
  padding-top: 60px;
}

.p_box_2 {
  font-size: 18px;
  font-weight: bold;
  color: #5C6A88
}

.list_box_2 {
  font-size: 22px;
  color: gray;
  text-decoration: none;
  list-style: none;
  border-left: 2px solid rgb(117, 128, 154);
  padding-left: 5px
}

.list_box_2 li {
  padding-top: 20px
}

.list_box_2 a {
  font-size: 22px;
  color:rgb(117, 128, 154);
}

[class=*"block_"] {
  width: 100%
}

.box_3 {
  background: #F3F5F9;
  padding-top: 60px;
  padding-bottom: 60px;
}

.p_box_3 {
  padding-top: 30px;
  padding-bottom: 75px;
  font-size: 18px;
  font-weight: bold;
  color: #5C6A88
}

.box_image img {
  width: 60%
}

#box_image_caption {
  font-weight: bold;
  font-size: 18px;
  color:#0F2D5A;
}

.fas.fa-chevron-left {
  font-size: 50px;
  color: #6F7B97
}

.fas.fa-chevron-right {
  font-size: 50px;
  color: #031C4E
}

.fas.fa-circle {
  color: #006AFF;
}

.far.fa-circle {
  color: #006AFF;
}

h4 {
  color: #031C4E;
  font-weight: bold;
}

.box_4 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.p_box_4 {
  color: #5C6A88;
  font-weight: bold;
}

.link_box_4 {
  font-weight: bold;
  color: #006AFF;
}

.box_5 {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #0031AD;
  color: white;
}

.white_title {
  color: white;
}

.region {
  border-bottom: 1px solid white;
  margin-right: 20px;
}

.left_box {
  padding-bottom: 60px;
}

.right_box {
  padding-bottom: 60px;
}


#img_box_6 {
  width: 20%;
  height: 20%;
}

/* @media screen and (max-width:767px) {
  .logo_img img {
    width: 100%;
  }
} */
